# Ignore all data_feeds configs
config/data_feeds/
# Ignore local data feed config files
config/data_feeds/data_source.advantage.trade.yaml
.venv/
.env
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.DS_Store
*.log
# Never track config folders or files
config/
config/**
