git+ssh://git@github.com/reycons/rey_lib.git@84e60a49de794efafeaefcf9fa6f20c6cb3a23bb#egg=rey_lib
pyodbc==5.3.0
PyYAML==6.0.3
python-dotenv==1.2.2
pytest==9.0.3
pytest-mock>=3.14.0
ruff>=0.4.4
black>=24.4.2
