git+ssh://git@github.com/reycons/rey_lib.git@79cf31b1ad93da3906f67de2ab517fbc106914eb#egg=rey_lib
pyodbc==5.3.0
PyYAML==6.0.3
python-dotenv==1.2.2
pytest==9.0.3
pytest-mock>=3.14.0
ruff>=0.4.4
black>=24.4.2
