<Config>
    <Folders>
        <Folder>
            <RemoteFolder>\\10.25.4.61\\Navi\Data</RemoteFolder>
            <LocalFolder>D:\Navi\</LocalFolder>
        </Folder>

        <Folder>
            <RemoteFolder>\\10.25.4.61\WQT\sql</RemoteFolder>
            <LocalFolder>D:\WQT\</LocalFolder>
        </Folder>




        <Folder>
            <RemoteFolder>\\10.25.4.61\WQT\DataFeeds</RemoteFolder>
            <LocalFolder>D:\WQT\</LocalFolder>
        </Folder>
        <Folder>
            <RemoteFolder>\\10.25.4.61\WQT\WebQuery</RemoteFolder>
            <LocalFolder>D:\WQT\</LocalFolder>
        </Folder>

        <Folder>
            <RemoteFolder>\\10.25.4.61\WQT\Reports</RemoteFolder>
            <LocalFolder>D:\WQT\</LocalFolder>
        </Folder>

        <Folder>
            <RemoteFolder>\\10.25.4.61\WQT\Sync</RemoteFolder>
            <LocalFolder>D:\WQT\</LocalFolder>
        </Folder>

        <Folder>
            <RemoteFolder>\\10.25.4.61\\Navi\DataFeeds</RemoteFolder>
            <LocalFolder>D:\Navi\</LocalFolder>
        </Folder>
        
        <Folder>
            <RemoteFolder>\\10.25.4.61\\Navi\Bin</RemoteFolder>
            <LocalFolder>D:\Navi\</LocalFolder>
        </Folder>

        <Folder>
            <RemoteFolder>\\10.25.4.61\\Navi\Exports</RemoteFolder>
            <LocalFolder>D:\Navi\</LocalFolder>
        </Folder>
        <Folder>
            <RemoteFolder>\\10.25.4.61\\Navi\Sync</RemoteFolder>
            <LocalFolder>D:\Navi\</LocalFolder>
        </Folder>


        <done>
        <Folder>
            <RemoteFolder>\\10.25.4.61\WQT\Sync</RemoteFolder>
            <LocalFolder>D:\WQT\Sync</LocalFolder>
        </Folder>

        </done>

        <notdone>



        </notdone>

    </Folders>
</Config>
